<div class="d-flex" id="wrapper">
    <app-sidebar-dashboard></app-sidebar-dashboard>

    <div id="page-content-wrapper">

        <app-navbar-dashboard></app-navbar-dashboard>
        <div class="container-fluid pt-3">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>