<div id="content">
    <section>

        <div class="home" id="destinos">
            <div class="places bg-gris-b w-400 text-center"><br>
                <h2>EVENTOS EN POTOSI</h2>
                <div class="mas">
                    <img class="bd-placeholder-img card-img-top" width="600%" height="450" src="../assets/images/fondoeventoss.png" alt="">

                </div>
            </div>
        </div>
        <div class="">
            <h3 class="pb-4 mb-4 fst-italic border-bottom text-center fw-bold"><br> ALGUNOS EVENTOS QUE TE OFRECEMOS
            </h3>

            <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/chutillos.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CH'UTILLOS</h5>
                            <p class="card-text text-dark text-center">La festividad de San Bartolomé, más conocida como Ch’utillos, se celebra cada año en Potosí.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/fundaciondepotosi.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">FUNDACIÓN DE POTOSÍ</h5>
                            <p class="card-text text-dark text-center">El 1 de abril de 1545, es la fecha de la fundación de Potosí.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/carnaval.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CARNAVAL</h5>
                            <p class="card-text text-dark text-center">El carnaval en la ciudad de Potosí, es singular, denominada también Carnaval Minero.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/alasitas.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">ALASITAS</h5>
                            <p class="card-text text-dark text-center"> La Feria de la Alasita es una feria anual tradicional del Altiplano en Sudamérica.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/revoluvionpotosi.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">REVOLUCIÓN DE POTOSI</h5>
                            <p class="card-text text-dark text-center">La Revolución de Potosí fue un alzamiento popular en el país de Bolivia.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/challa.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CH'ALLA</h5>
                            <p class="card-text text-dark text-center">La challa es una ceremonia de reciprocidad con la Pachamama.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4 pb-0">

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
                    ></a>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">POTOSI-BOLIVIA</a>
                </div>

            </footer>
        </div>