:root {
    --primary: #d65804;
    --bgSecondary: #eaac8b;
    --dark: #000000;
    --ligth: #fff;
    --bgp1: #000000;
}

body {
    background-image: url(./assets/images/fondo2.jpg);
    font-family: proximanova, arial, sans-serif;
    ;
    background: 100%;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
}

.navbar {
    min-height: 90px;
}

.navbar {
    padding: .625rem 1.25rem;
}

.bg-primary {
    background-color: var(--primary)!important;
}

.bg-color-p1 {
    background-color: var(--bgp1) !important;
}

.text-primary {
    color: var(--primary) !important;
}

section {
    height: 810px;
}

.content {
    max-width: 75%;
}

.list-subject {
    position: relative;
    display: flex;
    justify-content: center;
}


/*.list-subject::after{
    content: '';
    border-right: 1px solid var(--dark);
    height: 60px;
    position: absolute;
    top:35px;
    opacity:.2
}*/

.bg-header {
    background-color: var(--bgSecondary);
}

.info-content {
    border-radius: 35px;
}

.info-content .btn {
    padding: .625rem 1.25rem;
}

.publications img {
    height: 60%;
    max-width: 100%;
    border-radius: 30px;
}

.my-form {
    max-width: 450px;
}

.my-form .form-control {
    min-height: 80px;
}

.my-form .btn {
    top: 12px;
    right: 10px;
    min-height: 55px;
}

.section-600 {
    height: 500px !important;
}

@media (max-width:1920px) {
    .container-mobile {
        max-width: 95%;
    }
}

@media (max-width:992px) {
    .navbar {
        position: relative !important;
    }
    section {
        height: unset;
    }
    .w-75 {
        width: 100% !important;
    }
    .content {
        max-width: 100%;
    }
    .my-text {
        text-align: center !important;
    }
    .section-600 {
        margin-bottom: 25%;
    }
    html,
    body {
        overflow-x: hidden
    }
}