<section class="bg-primary cover;">
    <div class="border-end bg-primary" id="sidebar-wrapper">
        <div class="list-group-item list-group-item-action px-5 p-3 d-flex align-items-center item-link" href="#!">
            <img alt="" class="img-logo-dashboard"> <strong>POTOSÍ</strong>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/create-publications">
                <i class="fas fa-american-sign-language-interpreting fs-3"></i>
                <span class="ms-3">Viajes</span>
            </a>
            <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/list-publications">
                <i class="fas fa-archway fs-3"></i>
                <span class="ms-3">Cultura</span>
            </a>
            <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/create-eventos">
                <i class="fas fa-air-freshener fs-3"></i>
                <span class="ms-3">Gastronomía</span>
            </a>
            <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/create-gastronomia">
                <i class="fab fa-accusoft fs-3"></i>
                <span class="ms-3">Eventos</span>
            </a>
            <a class="list-group-item list-group-item-action p-3 d-flex align-items-center item-link" routerLink="/dashboard/publications/create-perfil">
                <i class="far fa-address-book fs-3"></i>
                <span class="ms-3">Perfil de usuario</span>
            </a>
        </div>
    </div>
</section>