<nav class="navbar navbar-expand-lg navbar-collapse bg-color-p1 position-absolute w-100">
    <div class="container container-mobile">
        <div class="content mx-auto px-5 my-1 me-5 align-self-center">
            <img src="/assets/images/logotipo1.png" width="120" height="100" alt="" class="img-fluid">
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item d-flex">
                    <a class="nav-link text-primary align-self-center fs-5" href="#">principal</a>
                </li>

                <li class="nav-item d-flex">
                    <a class="nav-link text-primary align-self-center fs-5" href="#">Obras</a>
                </li>

                <li class="nav-item d-flex">
                    <a class="nav-link text-primary align-self-center fs-5" href="#">Eventos</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link text-primary align-self-center fs-5" href="#">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary me-2 text-ffff fs-4" href="#">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary fs-4" routerLink="/auth/login">Iniciar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>