<section>
    <div class="row g-0 h-100">
        <div class=" text-center d-flex py-5 text-secondary" style="background-image:url('../assets/images/Animated\ Shape.svg');background-repeat: no-repeat;background-size: cover;">
            <main class="form-signin">
                <form method="GET" action="">
                    <img class="mb-4" src="../assets/images/undraw_Lost_online_re_upmy (1).svg" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Por favor registrese</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="correo" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="contrasenia" required>
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <a class="w-100 btn btn-lg btn-primary" routerLink="/dashboard/home">Sign in</a>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
                </form>
            </main>
        </div>
    </div>
</section>