<div class="p-2 pt-4">
    <div class="home" id="destinos">
        <div class="places bg-gris-b w-400 text-center">
            <h1>Bienvenidos a Potosí</h1>
            <div class="mas">
                <img class="bd-placeholder-img card-img-top" width="600%" height="450" src="../assets/images/potosi-portada.jpg" alt="">

            </div>
        </div>
    </div>
    <br><br>
    <section class="d-flex py-3 section-600 opacity: 0.6; text-center ">
        <div class="bd-placeholder-img card-img-top" width="600%" height="450">
            <div class=" bg-color-p1 text-light">
                <div class="row">
                    <div class="col-lg-7 d-flex">
                        <div class="p-5 align-self-center">
                            <h1 class="display-4 fst-italic text-light">Comparte tu experiencia<br> VISITA POTOSÍ</h1>
                            <p class="lead my-4">EN BOLIVIA, ARGENTINA, BRASIL, PARAGUAY Y URUGUAY, PODRÁS CONTAR CON OPERADORES ESPECIALIZADOS QUE TE AYUDARÁN A ORGANIZAR TU CAMINO.</p>
                            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex">
                        <div class="align-self-center mx-auto p-5">
                            <img src="../assets/images/undraw_Moment_to_remember_re_t18u.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
                Tours y Visitas turísticas
            </h3>

            <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/tours1.jpg" alt="">

                        <div class="card-body">
                            <a href="#">Tours privados a las minas de Potosí</a>
                            <p class="card-text">Recorridos en autobus<br>desde 44,24 € por adulto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-danger"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/tours2.jpg" alt="">
                        <div class="card-body">
                            <a href="#">Museos en medio día en Potosí</a>
                            <p class="card-text">Recorrido en autobús<br>desde 43,13 € por adulto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-warning"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/tours3.jpg" alt="">

                        <div class="card-body">
                            <a href="#">Excursión de medio día a la mina activa de cerro rico</a>
                            <p class="card-text">Recorrido en autobús<br>desde 47,53 € por adulto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/tours4.jpg" alt="">
                        <div class="card-body">
                            <a href="#">Tours Salar de Uyuni desde S.P.Atacama Chile</a>
                            <p class="card-text">Privados de lujo<br>a partir de 1.083,27 € por adulto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-danger"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/tours5.jpg" alt="">
                        <div class="card-body">
                            <a href="#">Excursion de tres días al Salar de Uyuni y lagunas de colores desde Uyuni</a>
                            <p class="card-text">Tours de varios días<br>desde 541,64 € por adulto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-warning"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/tours6.jpg" alt="">
                        <div class="card-body">
                            <a href="#">Huellas de dinosaurios Toro Toro de 3 días de la ciudad de "Cochabamba"  "Bolivia"</a>
                            <p class="card-text">Tours de aventura<br>desde 434,34 € por adulto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                           <source src="../assets/videos/video1.mp4" type="video/mp4">
                         </video>

                        <div class="card-body">
                            <h5 class="card-title">Conociendo Potosí</h5>
                            <p class="card-text">Potosí es una ciudad en el altiplano del sur de Bolivia. Su larga historia minera se exhibe en el Cerro Rico, una montaña y mina de plata en funcionamiento.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-danger"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                           <source src="../assets/videos/video2.mp4" type="video/mp4">
                         </video>

                        <div class="card-body">
                            <h5 class="card-title">Ciudad de Potosí</h5>
                            <p class="card-text">Tras descubrirse, entre 1542 y 1545, las minas más importantes del Nuevo Mundo, Potosí experimenta un rápido crecimiento. Hacia 1580</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-warning"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <video class="bd-placeholder-img card-img-top" width="100%" height="225" controls>
                           <source src="../assets/videos/video3.mp4" type="video/mp4">
                         </video>

                        <div class="card-body">
                            <h5 class="card-title">Himno a Potosí</h5>
                            <p class="card-text">Este símbolo fue estrenado el 12 de noviembre de 1887 y tiene como autores a Daniel Campos en la letra y Manuel Romero en la música.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver mas</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                </div>
                                <i class="fab fa-apple fs-3 p-3 text-success"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Traveling The World</h4>
                    <p class="mb-0">“El único verdadero viaje de descubrimiento consiste no en buscar nuevos paisajes, sino en mirar con nuevos ojos” </p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Categorías</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Consejo</a></li>
                        <li><a href="#">Cultura</a></li>
                        <li><a href="#">Curiosidades</a></li>
                        <li><a href="#">Destinos</a></li>
                        <li><a href="#">Gastronomía</a></li>
                        <li><a href="#">Idiomas</a></li>
                        <li><a href="#">Lagos</a></li>
                        <li><a href="#">Souvenirs</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Entradas Recientes</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">Pueblos bonitos de Valencia, <br>rincones con encanto y más</a></li><br>
                        <li><a href="#">Pueblos costeros de Cantabria, <br>los mejores de esta región</a></li><br>
                        <li><a href="#">Pueblos bonitos de Cataluña, <br>lo que debes visitar y más</a></li><br>
                        <li><a href="#">Pueblos Bonitos de Granada, <br>rincones que debes conocer</a></li><br>
                        <li><a href="#">Pueblos de Segovia con <br>Encanto, descúbrelos todos aquí</a></li><br>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>