<section class="titulo" style="background-image:url('/assets/images/potosifondito.jpg'); background-repeat: no-repeat; background-size: cover;  ">
    <div class="container align-self-center p-container-m">
    </div>
</section>

<section>
    <div class="d-flex h-100;" style="font-family: cursive;">
        <div class="container align-self-center p-container-m">
            <div class="row mt-5">
                <h1 style="text-align: center; ">UNA GRAN HISTORIA Y MUCHAS AVENTURAS</h1>
                <div class="col-lg-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                    <div class="align-self-center my-5 px-4">
                        <ul class="list-unstyled" style="text-align: center;">
                            <li class="d-flex mb-4">
                                <p class="text-primary lead fw-bold list-subject"></p>
                                <div class="ms-3">
                                    <p class="lead fw-bold  fs-3 mb-5">Villa Imperial de Potosí</p>
                                    <P class="fs-5">Potosí es una ciudad en el altiplano del sur de Bolivia. Su larga historia minera se exhibe en el Cerro Rico, una montaña y mina de plata en funcionamiento al sur de la ciudad. La antigua casa de la moneda ubicada en
                                        el centro de Potosí, la Casa Nacional de la Moneda, alberga un museo dedicado al arte y la historia de Bolivia. Junto a la casa de la moneda, está la Plaza 10 de Noviembre, una plaza bordeada con edificios coloniales
                                        adornados, incluida la catedral</P>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-flex" data-aos="fade-right" data-aos-delay="300">
                    <div class="align-self-center mx-auto p-5">
                        <img src="/assets/images/historiaaa.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <br>
    <br>
    <br>
    <div class="position-relative">
        <svg style="position: absolute; bottom:0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path style="background-color:#000000; opacity: 0.1;" d="M0,288L40,261.3C80,235,160,181,240,170.7C320,160,400,192,480,218.7C560,245,640,267,720,250.7C800,235,880,181,960,181.3C1040,181,1120,235,1200,234.7C1280,235,1360,181,1400,154.7L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
    </div>
    <div class="position-relative">
        <svg style="position: absolute; top:0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path style="background-color:#000000; opacity: 0.1;" d="M0,96L60,112C120,128,240,160,360,154.7C480,149,600,107,720,96C840,85,960,107,1080,122.7C1200,139,1320,149,1380,154.7L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
    </div>
</section><br><br>


<section>
    <div class="d-flex h-100;" style="font-family: cursive;">
        <div class="container align-self-center p-container-m">
            <div class="row mt-5">
                <h1 style="text-align: center;">Destinos Turísticos en Potosi, Bolivia</h1>
                <div class="col-lg-6 d-flex" data-aos="fade-right" data-aos-delay="300">
                    <div class="content mx-auto px-4 my-5 align-selft-center" data-aos="fade-right"> <br> <br> <br> <br> <br>
                        <img src="/assets/images/undraw_Moment_to_remember_re_t18u.svg" width="400" height="400">
                    </div>
                </div>
                <div class="col-lg-6 d-flex" data-aos="fade-left" data-aos-delay="100">
                    <div class="align-self-center my-5 px-4">
                        <ul class="list-unstyled" style="text-align: center;">
                            <li class="d-flex mb-4">
                                <p class="text-primary lead fw-bold list-subject"></p>
                                <div>
                                    <p class="lead fw-bold">Salar de Uyuni Uyuni</p>
                                    <p> El Salar de Uyuni en Bolivia se formó por la desaparición de un océano interior que cubría la mayor parte del Altiplano y se extendía hasta el lago Titicaca. Es una experiencia extraordinaria cruzar este lago de sal
                                        en automóvil.</p>
                                </div>
                            </li>
                            <li class="d-flex mb-4">
                                <p class="text-primary lead fw-bold list-subject"></p>
                                <div>
                                    <p class="lead fw-bold">Minas de Plata Potosi</p>
                                    <p> Una de las principales atracciones turísticas de Potosí en Bolivia es el Cerro Rico. Desde las profundidades de esta increíble montaña, se han extraído grandes cantidades de plata desde 1545. </p>
                                </div>
                            </li>
                            <li class="d-flex mb-4">
                                <p class="text-primary lead fw-bold list-subject"></p>
                                <div>
                                    <p class="lead fw-bold">Parque Nacional Torotoro</p>
                                    <p> El Parque Nacional Torotoro está ubicado al norte de Potosí, Bolivia. Entre los atractivos se encuentran la caverna de Huma Jalanta, Huaca Senka. Hay huellas de dinosaurios, las ruinas incas de Flame Chaqui y pinturas
                                        rupestres. </p>
                                </div>
                            </li>
                            <li class="d-flex mb-4">
                                <p class="text-primary lead fw-bold list-subject"></p>
                                <div>
                                    <p class="lead fw-bold">San Pedro de Atacama</p>
                                    <p> La ciudad de San Pedro Atacama se encuentra en un oasis dentro del desierto de San Pedro de Atacama a 2440 m.a.s.l. y 1.670 kilómetros de Santiago de Chile. Es la puerta de entrada al salar más grande del mundo: el
                                        Salar de Uyuni en Bolivia. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="d-flex py-5 section-600 opacity: 0.6; ">
    <div class="container" data-aos="fade-up" data-aos-delay="300">
        <div class="info-content bg-color-p1 text-light">
            <div class="row">
                <div class="col-lg-7 d-flex">
                    <div class="p-5 align-self-center text-center">
                        <h2 class="display-5 fw-bold mb-4">DESCUBRE NUESTROS DESTINOS</h2>
                        <p class="lead mb-5">¿Quieres más sugerencias para tus vacaciones?</p>
                        <a href="" class="btn btn-warning">Obten mas informacion</a>
                    </div>
                </div>
                <div class="col-lg-5 d-flex">
                    <div class="align-self-center mx-auto p-5">
                        <img src="/assets/images/undraw_Lost_online_re_upmy (1).svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="d-flex py-5" style="background-image:url('/assets/images/Simple\ Shiny2.svg');background-repeat: no-repeat;background-size: cover;">

    <div class="container align-self-center text-center"> <br> <br>
        <h2 class="display-5 py-4">ATRACCIONES PRINCIPALES EN POTOSÍ</h2>
        <p class="lead mb-5 fs-4">Comienza hoy mismo</p>

        <div class="row publications">
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none"></a>
                <img src="/assets/images/casadelamoneda.jpg" alt="" class="img-fluid mb-4">
                <div class="d-flex mb-4">
                    <p class="flex-grow-1 text-dark mb-2 text-center">10 de septiembre 2021</p>
                </div>
                <div class="flex-grow-1 text-dark mb-2 text-center">
                    <h4 style="color:rgb(255, 0, 0);">Casa Nacional de la Moneda</h4>
                </div>
                <p class="lead text-dark fw-bold mb-4 fs-6 text-center">En esta histórica casa se pueden encontrar pinturas de la época colonial, pero la principal función que tuvo fue la fabricación de monedas, desde la fundición de la plata y oro para la formación de las mismas.</p>
                <p class="text-primary fw-bold text-center">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>

            </div>
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/cerrorrico.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-2 text-center">10 de septiembre 2021</p>
                    </div>
                    <div class="flex-grow-1 text-dark mb-2 text-center">
                        <h4 style="color:rgb(255, 0, 0);">Cerro Rico</h4>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 fs-6 text-center">El tour que dura casi toda la mañana (8,30 a 13hs), incluye una visita al mercado minero (donde se puede comprar hasta dinamita!!!), luego pasas por un lugar donde te dan ropa adecuada y terminas dentro de la mina.</p>
                    <p class="text-primary fw-bold text-center">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/catedraldepotosi.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-2 text-center">10 de septiembre 2021</p>
                    </div>
                    <div class="flex-grow-1 text-dark mb-2 text-center">
                        <h4 style="color:rgb(255, 0, 0);">Catedral de la Ciudad de Potosí</h4>
                    </div>
                    <p class="lead text-dark fw-bold fs-6 text-center">Se construyó el año 1808 y se utilizaron piedras y ladrillos, cuenta con una cúpula central y dos torres. La Catedral de Potosí es uno de los templos más característicos del estilo arquitectónico Neoclásico.</p>
                    <p class="text-primary fw-bold text-center">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="d-flex py-5" style="background-image:url('/assets/images/Wave\ \(1\).svg');background-repeat: no-repeat;background-size: cover;">

    <div class="container align-self-center">
        <div class="row publications">
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/torotoro.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-2 text-center">10 de septiembre 2021</p>
                    </div>
                    <div class="flex-grow-1 text-dark mb-2 text-center">
                        <h4 style="color:rgb(255, 0, 0);">Parque Nacional Torotoro</h4>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 fs-6 text-center">El Parque Nacional Toro Toro está situado al Norte del departamento de Potosí, a 140 km de Cochabamba. El Parque Nacional Toro Toro tiene muchos hermosos paisajes, cañones profundos y grande cuevas con estalactitas y estalagmitas de
                        formas sorprendentes.</p>
                    <p class="text-primary fw-bold text-center">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/plaza.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-2 text-center">10 de septiembre 2021</p>
                    </div>
                    <div class="flex-grow-1 text-dark mb-2 text-center">
                        <h4 style="color:rgb(255, 0, 0);">Plaza 10 Noviembre</h4>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 fs-6 text-center">La Plaza 10 de Noviembre es una plaza ubicada en Potosí, Bolivia. Cuenta con cuatro esculturas: la Estatua de la Libertad, una garza en una de las fuentes, una musa y un querubín. Entre los edificios que rodean se encuentra, la primera
                        Casa de la Moneda.</p>
                    <p class="text-primary fw-bold text-center">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
            <div class="col-lg-4 py-4" data-aos="flip-up" data-aos-delay="300">
                <a href="#" class="text-decoration-none">
                    <img src="/assets/images/laguna-colorada.jpg" alt="" class="img-fluid mb-4">
                    <div class="d-flex mb-4">
                        <p class="flex-grow-1 text-dark mb-2 text-center">10 de septiembre 2021</p>
                    </div>
                    <div class="flex-grow-1 text-dark mb-2 text-center">
                        <h4 style="color:rgb(255, 0, 0);">Laguna Colorada</h4>
                    </div>
                    <p class="lead text-dark fw-bold mb-4 fs-6 text-center">Laguna Colorada es un lugar de cría para los flamencos andinos, aves migratorias que se cuentan por miles en sus aguas ricas en minerales. Se encuentra dentro de la Reserva Nacional de Fauna Andina Eduardo Abaroa, Bolivia, en el altiplano
                        potosino.
                    </p>
                    <p class="text-primary fw-bold text-center">Leer mas <i class="fas fa-arrow-right ms-2"></i></p>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="d-flex pt-5 pb-5 h-100 class=" d-flex py-5 style="background-image:url('/assets/images/circle-scatter-haikeiunoo.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="container align-self-center" data-aos="fade-up" data-aos-delay="300">
        <div class=" info-content bg-primary text-dark text-center p-5 rounded mx-auto mt-5 w-75 mb-5">
            <h2 class="display-5 fw-bold">RESERVA TU EXPERIENCIA</h2>
            <p class="lead">Miles de experiencias pensadas para tí</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Correo electronico">
                <button class="btn btn-secondary" class="button" id="button-addon2">Enviar</button>
            </div>
            <div class="d-md-none">
                <input type="text" class="form-control mb-3" placeholder="Correo electronico">
                <button type="button" class="btn btn-primary w-100">Registrate ya</button>
            </div>
        </div>
    </div>

</section>