<div id="content">
    <section>

        <div class="home" id="destinos">
            <div class="places bg-gris-b w-400 text-center"><br>
                <h2>VIAJES EN POTOSI</h2>
                <div class="mas">
                    <img class="bd-placeholder-img card-img-top" width="600%" height="450" src="../assets/images/viajesenpotosii.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="">
            <h3 class="pb-4 mb-4 fst-italic border-bottom text-center fw-bold"><br> ALGUNOS VIAJES QUE TE OFRECEMOS
            </h3>

            <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/viajeuno.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">2-Días Salar de uyuni incluyendo laguna colorada</h5>
                            <p class="card-text text-dark text-center">Tours de aventura, el precio varia en función del número de personas por grupo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">40$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/viajedos.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">Standar 3-Días salinas de Uyuni y lagunas de colorfull</h5>
                            <p class="card-text text-dark text-center">Tours de aventura, el precio varia en función del número de personas por grupo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">20$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/viajetres.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">Recorrido combinado de mina activa y alrededores-Privada</h5>
                            <p class="card-text text-dark text-center">Tours de un día completo, el precio varia en función del número de personas por grupo</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">45.99$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/viajecuatro.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">Salar de Uyuni 3 días / 2 noches desde Hito Cajon</h5>
                            <p class="card-text text-dark text-center">Tours de un día completo, el precio varia en función del número de personas por grupo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">80$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/viajecinco.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">Tour privado salar de Uyuni desde S.P. Atacama Chile</h5>
                            <p class="card-text text-dark text-center">Tours de un día completo, el precio varia en función del número de personas por grupo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">43.99$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/viajeseis.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">Potosí y alrededores medio dia-Privado</h5>
                            <p class="card-text text-dark text-center">Tours de un día completo, el precio varia en función del número de personas por grupo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">35$</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4 pb-0">

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
                ></a>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">POTOSI-BOLIVIA</a>
                </div>

            </footer>
        </div>