<div id="content">
    <section>

        <div class="home" id="destinos">
            <div class="places bg-gris-b w-400 text-center"><br>
                <h2>GASTRONOMÍA EN POTOSI</h2>
                <div class="mas">
                    <img class="bd-placeholder-img card-img-top" width="600%" height="450" src="../assets/images/gastronmiafondo.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="">
            <h3 class="pb-4 mb-4 fst-italic border-bottom text-center fw-bold"><br> ALGUNOS PLATOS TÍPICOS DE POTOSÍ
            </h3>

            <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/chajchu.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CHAJCHU</h5>
                            <p class="card-text text-dark text-center">El chajchu forma parte de la cocina antigua de potosí, lo sirven con carne de chancho, en pedazos grandes y frito.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">2$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/calapurka.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CALAPURKA</h5>
                            <p class="card-text text-dark text-center">La calapurca es una sopa que, en algunas ocasiones, se calienta antes de servir con una o varias piedras precalentadas sobre brasas.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">2$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/cazuela.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CAZUELA</h5>
                            <p class="card-text text-dark text-center">Se trata de una sopa hecha de maní, acompañada con papas, arroz o fideo y carne de cordero.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">2$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ajidepataska.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">AJÍ DE PATASKHA</h5>
                            <p class="card-text text-dark text-center">Este plato está hecho con mote de maíz pelado, aderezado con ají y acompañado con carne de cerdo.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">2$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/chambergos.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">CHAMBERGOS</h5>
                            <p class="card-text text-dark text-center">El postre tradicional de potosi, usualmente es ideal acompañarlo con una taza de café o algún mate</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">3$</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ajideachacana.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">AJÍ DE ACHACANA</h5>
                            <p class="card-text text-dark text-center">El ají de achacana es un plato típico de las fiestas de Todos Santos en los departamentos de Oruro y Potosí​ en Bolivia.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-shopping-cart fa-1x" ></i></button>
                                </div>
                                <small class="text-muted">2$</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4 pb-0">

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                    ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
                    ></a>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">POTOSI-BOLIVIA</a>
                </div>

            </footer>
        </div>