<div id="content">
    <section>

        <div class="home" id="destinos">
            <div class="places bg-gris-b w-400 text-center"><br>
                <h2>CULTURA-POTOSÍ</h2>
                <div class="mas">
                    <img class="bd-placeholder-img card-img-top" width="600%" height="450" src="../assets/images/culturafondo.jpg" alt="">

                </div>
            </div>
        </div>
        <div class="">
            <h3 class="pb-4 mb-4 fst-italic border-bottom text-center fw-bold"><br> POTOSÍ Y SUS LUGARES CULTURALES
            </h3>

            <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/culturauno.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">ARTE Y CULTURA</h5>
                            <p class="card-text text-dark">La cultura y el arte nacional del siglo XX, si se toman figurativamente como la composición de un mosaico, están compuestos por piezas provenientes de ciudades o localidades.</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/culturados.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">VESTIMENTA</h5>
                            <p class="card-text text-dark">La vestimenta típica del Departamento de Potosí está confeccionada a base de las artesanías elaboradas por los quechuas son fundamentalmente el tejido y la cerámica</p>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/cultura3.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">IGLESIA DE SAN BENITO</h5>
                            <p class="card-text text-dark">El templo ubicado cerca al Cerro Rico de Potosí tiene la forma de una gran cruz blanca y en sus techos se distinguen seis cúpulas, que dan cuenta de la influencia morisca.</p>
                            <div class="d-flex justify-content-between align-items-center">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/culturacuatro.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">DANZA CALCHEÑOS</h5>
                            <p class="card-text text-dark">La danza de los Calcheños o "DANZA DE LA COSECHA" Misma que refleja la alegría y sencillez de los habitantes de esa región, manifestando al bailar su agradecimiento a la Pachamama.</p>
                            <div class="d-flex justify-content-between align-items-center">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/culturacinco.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">IGLESIA SALINAS DE YOCALLA</h5>
                            <p class="card-text text-dark">Está en plena refacción el templo San Salvador de Salinas de Yocalla, ubicado en la provincia Tomás Frías (Potosí). El fin es recuperar una de las reliquias arquitectónicas más emblemáticas del barroco mestizo en Bolivia.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/danzatinkuy.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-center">DANZA TINKUY</h5>
                            <p class="card-text text-dark">El Tinku es un ritual y una danza folklórica de Bolivia que se realiza en el norte del Departamento de Potosí. El significado de la palabra, originaria del idioma quechua, es "encuentro"; en aymara significa "ataque físico".
                            </p>
                            <div class="d-flex justify-content-between align-items-center">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4 pb-0">

                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                ></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i
                ></a>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">POTOSI-BOLIVIA</a>
                </div>

            </footer>
        </div>